# STS 및 Eclipse 관련 파일
.springBeans
.sts4-cache/
.apt_generated
.factorypath
.classpath
.project
.settings/
bin/
.metadata/

# IDE 관련 파일
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
*.code-workspace

# 운영체제 관련 파일
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# 로그 파일
logs/
*.log
*.out

# Maven 관련 파일
log/
target/
!target/.gitkeep
mvnw
mvnw.cmd
.mvn/
dependency-reduced-pom.xml
buildNumber.properties

# 컴파일된 파일
*.class
*.jar
*.war
*.ear

# 의존성 디렉토리
lib/

# 임시 파일
*.tmp
*.bak
*.swp
*.swo
.temp/

# 애플리케이션 관련 파일
*.pid
*.seed

# Tomcat 관련 파일
tomcat/
work/
*.keystore
Servers/
servers/

# Spring Boot 관련 파일
spring-boot-loader/

# 설정 파일
local.properties

# 프론트엔드 관련 파일
node_modules/
bower_components/
src/main/resources/static/bower_components
package-lock.json
yarn.lock

# 빌드 디렉토리
/build/
out/

# 기타 생성 파일
mvn-eclipse/

# API키 프로퍼티 관리
src/main/resources/api/
src/main/resources/lec14-oauth.properties